.Menu {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    .FunctionList {
        display: flex;
        flex-wrap: wrap;
        max-width: 80%;
        justify-content: space-between;
        .FunctionButton {
            width: 7em;
            height: 7em;
            margin: 1.5em;
            white-space: normal;
        }
    }
}
