<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            color: black;
        }

        .Products>table>tbody>tr>th {
            margin: 1em 0;
        }

        .Products>table>tbody>tr>td {
            text-align: center;
            margin: 1em 0;
            max-width: 30%;
            white-space: normal;
        }
    </style>
</head>

<body>
    <div style="width: 100%; text-align: center ;">Ваш заказ с сайта RIGS.shop успешно сформирован, в ближайшее время с
        вами свяжуться по телефону.</div>
    <h3 style="width: 100%; text-align: center;">Позиции:</h3>
    <div class="Products" style="display: flex; width: 100%;">
        <table style="margin: auto;">
            <tr>
                <th>Название</th>
                <th>Кол-во</th>
                <th>Размер</th>
                <th>Цена</th>
            </tr>
            $table
        </table>
    </div>
    <div style="text-align: end; font-weight: bold; margin-top: 2em;">Итого с учётом скидок: $price</div>
</body>

</html>