.CreatingOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    .DataBox {
        display: flex;
        flex-direction: column;
        width: 80%;
        max-width: 900px;
        .DeliverySelect {
            margin-top: 1.5em;
            height: 3em;
            font-weight: bold;
            text-align: start;
        }
        .MapInfo {
            text-align: start;
            margin-top: 2em;
            margin-bottom: 0.5em;
        }
        .Map {
            max-height: 45vh;
            width: 100%;
            aspect-ratio: 1.2;
            border-radius: 8px;
        }
        .Address {
            margin-top: 0.5em;
            font-weight: bold;
            font-size: 1.25em;
            .Address {
                font-size: 1em;
                font-weight: normal;
            }
            .GetTo {
                font-size: 0.85em;
                font-weight: normal;
            }
        }
        .EndPage {
            margin-top: 2em;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: end;
            .Total {
                display: flex;
                margin-bottom: 0.75em;
                .Price {
                    color: #ef4a5b;
                    font-weight: bold;
                    margin-left: 0.5em;
                }
            }
        }
    }
}
