.LoadingBox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .Loading {
        height: 4em;
        width: 4em;
        fill: #643392;
    }
}
